<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单列布局2</title>
    <style>
        *{margin: 0;padding: 0;}
        .container{max-width: 960px;margin: 0 auto;border:2px solid #fff;}/*设置最大宽度960*/
        .header{height:50px;background-color: goldenrod;}
        .main{height: 600px;background-color:deepskyblue;}
        .footer{height: 50px;background-color: darkseagreen;}
    </style>
</head>
<body>
    <h4>基本思路</h4>
    <p>1.头部,尾部单独放在一个容器中,仅设置高度即可<br/>
       2.头部和尾部的内容区仍和主体等宽<br/>
       3.主体放在一个容器中,并设置水平居中</br/>
    </p>
    <h4>特点</h4>
    <p>1.头部,尾部自适应页面宽度<br/>
       2.主题固定宽度<br/>
     </p>
    <div class="header">
        <div class="container">header</div>
    </div>
    <div class="main">
        <div class="container">main</div>
    </div>
    <div class="footer">
        <div class="container">footer</div>
    </div>
</body>
</html>