<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三列布局</title>
    <style>
        *{margin: 0;padding: 0;}
        .left{width:200px;height:600px;float:left;background-color: darkseagreen;}
        .right{width: 300px;height: 600px;float: right;background-color: beige;}
        .main{height: 600px;margin:0 310px 0 210px;background-color: darkgrey;}
    </style>
</head>
<body>
    <h4>基本思路</h4>
    <p>1.和两列布局很相似<br/>
       2.左右两列采用浮动+宽度<br/>
       3.中间区域实际上使用margin挤出来的<br/>
       4.DOM顺序不能乱,必须先写左右两侧,再写中间<br/>
    </p>
    <h4>特点</h4>
    <p>1.左右两列固定宽度<br/>
       2.中间主体区自适应<br/>
       3.采用浮动加外边距<br/>
       4.区块顺序非常重要(只能按“左右主体”)<br/>
    </p>
    <div class="left">left</div>
    <div class="right">right</div>
    <div class="main">main</div>
    
</body>
</html>